.blockCardLanding{

border-radius: 25px;
width: 100%;
height: 50vh;
margin-top: 5em;
text-align: center;

align-items:center;

img {
  height: 22rem;
  object-fit: scale-down;
}
a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}
}
.blockCardLanding__Links{
  margin-top: 2rem;
}

@media (max-width: 1300px) {
  .blockCardLanding {
    margin-top: 0.2rem;
    img {

        padding-bottom: 0;
        width: 100%;
        height: 50%;
    }
  }

}


@media (max-width: 767px) {
  .blockCardLanding {
    margin-top: 20%;
    img {

        padding-bottom: 0;
        width: 20vw;
        height: 20vh;
    }
  }
  .linkSite{
    margin-left: 20%;
  }
  .blockCard__info {
    margin-top: 5%;
  }
}
@media (max-width: 574px) {
    .blockCardLanding {
      margin-top: 5%;
      margin-bottom: 15vh;
      img {
  
          padding-bottom: 0;
          width: 80%;
          height: 40%;
      }
    }
    .linkSite{
      margin-left: 20%;
    }
    .blockCard__info {
        margin-top: 1%;
      }
      .blockCardLanding__Links{
        margin-top: 2em;
      }
  }