
body{
    background:black;
    color: white;
}

.links{
    background:rgb(255, 0, 0);
    
}

.bi-github{
    color:green;
    font-size:2em;
}


.langAndThemes{
    background:white;
    color:black
}

