
body{
    background:black;

    color: white;
}

.links{
    font-size:2em;
    a{
    text-decoration:none;
    color:white;
    margin-right: 1rem;
    }
}




.langAndThemes{
    height: 100%;
    // background:blue;
    color:white;
    float: right;
    display: flex;
    align-items: center;
    h5{

        // font-size: 1rem;
        margin-right: 1em;
        margin-top: 0.15em;
    }
}

.ant-switch-inner{
    border:1px solid white;
}




.welcomeContent{
    margin-top: 10em;
}

.textContainer{
    
    h1{
        width: 16ch;
        overflow: hidden;
        font-family: monospace;
        white-space: nowrap;
        animation: printed-text 5s steps(16)
    }
}

@keyframes printed-text {
    from {
        width: 0%;
    }
}