.blockCard {
  border-radius: 25px;
  width: 90%;
  background:red;
  margin:0 auto;
  height: 700px;
  img {
    object-fit: scale-down;
  }
  p {
    margin-top: 15%;
    text-align: justify;
    height: 50%;
    white-space: pre-line;
  }
  a {
    text-decoration: none;
    color: white;
  }
}
.carouselItem{
  width: 100vw;
}
.blockCard__links {
  margin-top: 10%;
}

.blockCard__info {
}

.linkSite {
  border: 1px solid white;
  padding: 10px;
  line-height: 50px;
  white-space: nowrap;
}
.linkGithub {
  font-size: 35px;
}

@media (max-width: 1200px) {
  .blockCard__links {
    margin-top: 30%;
  }
}

@media (max-width: 991px) {
  .blockCard__links {
    margin-top: 15%;
  }
  .blockCard {
    margin-bottom: 70%;

    img {
      padding-bottom: 0;
    }
    p {
      text-align: center;
      margin-top: 0;
    }
  }
  .blockCard__info {
    margin-top: 5%;
  }
}

@media (max-width: 767px) {
  .blockCard {
    margin-top: 20%;
    img {

        padding-bottom: 0;
        width: 70vw;
        height: 40vh;
    }
  }
  .linkSite{
    margin-left: 20%;
  }
  .blockCard__info {
    margin-top: 5%;
  }
}
@media (max-width: 574px) {
    .blockCard {
      margin-top: 10%;
      img {
  
          padding-bottom: 0;
          width: 90vw;
          height: 30vh;
      }
    }
    .linkSite{
      margin-left: 20%;
    }
    .blockCard__info {
        margin-top: 5%;
      }
  }