.carouselBlock {
  height: 70%;
  color: white;
  line-height: 300px;
  text-align: center;
  margin-bottom: 40px;

  img {
    object-fit: cover;
    width: 100%;
  }
  h3{
    
    height: 100%;
    
  }
}

.carousel {
  font-size: 20px;
  color: black;
  margin-top: 10vh;
}

.smiledIcon{
    font-size: 180px;
}