.blockCardLanding{

border-radius: 25px;
width: 100%;
height: 90vh;
margin-top: 10em;
text-align: center;

align-items:center;
img {
  // width: 50rem;
  height: 22rem;
  object-fit: scale-down;
  // width: 40vw;
  // padding-bottom: 2em;
}
a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  
  
}
}
.blockCardLanding__Links{
  margin-top: 2rem;
}


