.blockCardLanding{

border-radius: 25px;
width: 100%;
height: 90vh;
margin-top: 10em;
text-align: center;

align-items:center;
img {
  // width: 90%;
  height: 22rem;
  object-fit: scale-down;
  // width: 40vw;
  // padding-bottom: 2em;
}
a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  
  
}
}
.blockCardLanding__Links{
  margin-top: 2rem;
}




@media (max-width: 767px) {
  .blockCardLanding {
    margin-top: 20%;
    img {

        padding-bottom: 0;
        width: 70vw;
        height: 40vh;
    }
  }
  .linkSite{
    margin-left: 20%;
  }
  .blockCard__info {
    margin-top: 5%;
  }
}
@media (max-width: 574px) {
    .blockCardLanding {
      margin-top: 10%;
      img {
  
          padding-bottom: 0;
          width: 90vw;
          height: 30vh;
      }
    }
    .linkSite{
      margin-left: 20%;
    }
    .blockCard__info {
        margin-top: 5%;
      }
  }