.carousel {
  margin-top: 5em;
  margin-bottom: 10vh; 
}

.CarouselBlockCard {
  width: 100%;
  height: 70%;
  position: relative;
  img {
    width: 60%;
    height: 60%;
    margin: 0 auto;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

.CarouselBlock__Links {
  text-align: center;
  margin-top: 28%;
}

.CarouselBlock__linkSite {
  white-space: nowrap;
}

.CarouselBlock__IconLinkSite {
  display: none;
  font-size: 40px;
}

.CarouselBlock__linkGithub {
  font-size: 40px;
}

.CarouselBlockCard .hoverText {
  opacity: 0;
  position: absolute;
  border-radius: 25px;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  transition: 1s;
  width: 48%;
  height: 89%;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
}
.CarouselBlockCard:hover .hoverText {
  opacity: 1;
}

.button__LinkSite {
  width: 200px;
  height: 60px;
  background: none;
  border: 4px solid;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  position: relative;
}

.button__LinkSite::before,
.button__LinkSite::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 4px;
  background: rgba(0, 0, 0, 0.7);
  transform: skewX(50deg);
  transition: 0.4s linear;
}

.button__LinkSite::before {
  top: -4px;
  left: 10%;
}

.button__LinkSite::after {
  bottom: -4px;
  right: 10%;
}

.button__LinkSite:hover::before {
  left: 80%;
}

.button__LinkSite:hover::after {
  right: 80%;
}

@media (max-width: 767px),( max-height:601px) {
  .carousel{
    margin-top: 3em;
    margin-bottom: 10vh;
}
.button_link{
  margin-bottom: 16vh;
}
  .CarouselBlock__IconLinkSite {
    display: block;
  }
  .button__LinkSite {
    display: none;
  }
}

@media (max-width: 420px) {
  .CarouselBlock__IconLinkSite {
    font-size: 30px;
  }
  .CarouselBlock__linkGithub {
    font-size: 30px;
  }
  .CarouselBlockCard {
    img {
      width: 90%;
      height: 90%;
      margin: 0 auto;
    }
  }
  .CarouselBlockCard .hoverText {
    width: 73%;
    height: 90%;
  }
}
